<style>
th, td {
    padding: 5px;
}	
</style>
<center><h1>Confirm Purchase</h1>
<h2>Do you really want to buy this asset?</h2>
<table id="t01">
  <tr>
    <th>Asset Name</th>
    <th>Asset ID</th>
    <th>Asset Value</th>
    <th>Quantity</th>
    <th>Buy</th>
  </tr>
  <% @assets.each do |asset| %>
  	<% if asset.asset_id == @buy_id %>
    	<tr>
    		<td><b><%= asset.asset_name %></b></td>
    		<td><%= asset.asset_id %></td>
    		<td>US$ <%= asset.asset_value %></td>
    		<%=form_with scope: :asset_quantity, url: portfolio_add_asset_path do |form|%>
    			<%=form.hidden_field 'id', value: asset.asset_id %>
    			<td><%= form.number_field 'quantity', {value: 0, min: 0, step: 1} %></td>
    			<td><%= form.submit 'Confirm Operation', {class: 'button'} %></td>
    		<%end%>
    	</tr>
    <% end %>
  <% end %>
</table><br>
<%= form_with url: crypto_market_buy_path, method: :get,local: true do |form| %>
    <%= form.submit "Back", class: :back_button %>
<% end %>
</center>